BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
ContinuationIndentWidth: 8

ColumnLimit: 80
SortIncludes: false
BreakBeforeBraces: Linux

PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
SpacesInCStyleCastParentheses: false

BinPackArguments: false
BinPackParameters: false

IndentCaseLabels: false
Cpp11BracedListStyle: false

MaxEmptyLinesToKeep: 2
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2

KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions

PenaltyExcessCharacter: 7
PenaltyBreakBeforeFirstCallParameter: 50